.content-container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

.invisible {
    display: none;
}

/*Temporary - May change later*/
.label-tag {
    width : 100%;
    overflow: hidden;
}
