<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">CU-Denver Social</a>
        <ul class="navbar-nav mb-2 mb-lg-0 w-100 d-flex">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notifications">Notifications <span
                        class="text-white badge bg-primary">4</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages">Messages <span
                        class="text-white badge bg-secondary">21</span></a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </nav>
</header>