    <main>
        <div class="fluid-container">
            <div class="row mx-auto">
                <div class="col-sm-2">
                    <!-- Left column, empty for now -->
                </div>
                <div class="col-sm-8 container">
                    <div class="card mx-md-0 mx-3 my-3">
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Share something with the world...">
                                <button class="btn btn-outline-primary" type="button">Post</button>
                            </div>
                        </div>
                    </div>
                    <div class="card mx-md-0 mx-3 my-3">
                        <div class="card-body">
                            <strong><a href="#" class="text-secondary">John Smith</a></strong>
                            <button type="button" class="btn btn-outline-primary btn-sm">Follow</button>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Praesent fermentum nisi in risus tincidunt lacinia. Sed lacinia mauris a odio aliquam
                                commodo.
                                Nam vel rutrum magna, eu pretium ligula. Curabitur in mauris finibus, pretium arcu sit
                                amet,
                                porttitor tellus.
                                Cras id nunc neque. Aliquam ornare dictum nunc quis sodales. Curabitur id rutrum turpis,
                                sit
                                amet iaculis leo.
                                Pellentesque fermentum ornare turpis eu gravida. Praesent ac diam nec ex facilisis
                                sagittis a id
                                eros.
                                Nullam rhoncus ullamcorper fringilla.
                            </p>
                            <div>
                                <span class="text-secondary">34 people like this</span>
                            </div>
                            <button type="button" class="btn btn-primary btn-sm">Like</button>
                            <button type="button" class="btn btn-secondary btn-sm">Share</button>
                            <div class="my-1">
                                <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#lorem</button>
                                <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#ipsum</button>
                            </div>
                            <h5>Comments</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="What do you think?">
                                <button class="btn btn-outline-primary" type="button">Reply</button>
                            </div>
                            <div class="mx-3">
                                <div>
                                    <div>
                                        <a href="#" class="text-secondary">Sammy Wong </a>
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor massa et
                                        maximus
                                        varius.
                                        Mauris et est odio. Nulla euismod velit libero, sit amet semper est dignissim
                                        eget.
                                        Fusce vitae augue quis mauris mollis rutrum sed feugiat lorem.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mx-md-0 mx-3 my-3">
                        <img src="./images/user-image1.png" class="card-img-top" alt="user image">
                        <div class="card-body">
                            <strong><a href="#" class="text-secondary">Lucy Baker</a></strong>
                            <button type="button" class="btn btn-primary btn-sm">Unfollow</button>
                            <p class="card-text">
                                Chicago! I'm real proud of this pic. :-)
                            </p>
                            <div>
                                <span class="text-secondary">15 people like this</span>
                            </div>
                            <button type="button" class="btn btn-primary btn-sm">Like</button>
                            <button type="button" class="btn btn-secondary btn-sm">Share</button>
                            <div class="my-1">
                                <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#chicago</button>
                                <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#photograpy</button>
                                <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#itookaphoto</button>
                            </div>
                            <h5>Comments</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="What do you think?">
                                <button class="btn btn-outline-primary" type="button">Reply</button>
                            </div>
                            <div class="mx-3">
                                <div>
                                    <div>
                                        <a href="#" class="text-secondary">Jay Wilson</a>
                                    </div>
                                    <div>
                                        Oh wow! Wish I could have been there!
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a href="#" class="text-secondary">Alejandro Parker </a>
                                    </div>
                                    <div>
                                        Nice!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status"></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card mx-md-0 mx-3 my-3">
                        <div class="card-body">
                            <h5>Trending</h5>
                            <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#lorem</button>
                            <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#ipsum</button>
                            <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#chicago</button>
                            <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#photograpy</button>
                            <button class="btn btn-outline-secondary btn-sm btn-pill" type="button">#itookaphoto</button>
                        </div>
                    </div>
                    <div class="card mx-md-0 mx-3 my-3">
                        <div class="card-body">
                            <h5>Who to follow</h5>
                            <div class="d-flex justify-content-between mb-1">
                                <strong><a href="#" class="text-secondary">John Smith</a></strong>
                                <button type="button" class="btn btn-outline-primary btn-sm">Follow</button>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                                <strong><a href="#" class="text-secondary">Melon Usk</a></strong>
                                <button type="button" class="btn btn-outline-primary btn-sm">Follow</button>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                                <strong><a href="#" class="text-secondary">Perry Kate</a></strong>
                                <button type="button" class="btn btn-outline-primary btn-sm">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>