.btn-pill {
    border-radius:23px;
}

.invisible {
    display: none;
}

/*Temporary - May change later*/
.label-tag {
    width : 100%;
    overflow: hidden;
}

.is-invalid{
    background-color:#FFCCCC;
}