<main>
    <div class="fluid-container">
        <div class="row mx-auto">
            <div class="col-xl-2">
                <!-- Left column, empty for now -->
            </div>
            <div class="col-xl-8">
                <%- include('../partials/post', {post: post})  %>
            </div>
            <div class="col-xl-2">
                
            </div>
        </div>
    </div>
</main>